/* Headings */

h1 {
    text-transform: uppercase;
    font-size: 6rem;
    margin: 0;
    letter-spacing: 0.5rem;
    color: darkred;
    text-shadow: 0.09375rem 0.009375rem 0.09375rem #000;
    font-family: 'Alfa Slab One', Garamond, serif;
    text-align: center;
}

h2, h3, h4 {
    text-transform: uppercase;
    margin: 0;
    color: darkred;
    font-family: 'Alfa Slab One', Garamond, serif;
}

h2 {
    font-size: 48px;
    letter-spacing: 4px;
    font-weight: normal;
    text-shadow: 0.09375rem 0.09375rem 0.09375rem #000;
    text-align: center;
}

h3 {
    font-size: 32px;
    font-weight: normal;
    text-shadow: none;
    color: black;
    text-align: center;
}

h4 {
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: normal;
    padding-bottom: 18px;
    text-align: center;
}

h5 {
    font-size: 16px;
    margin-top: 4px;
    padding: 8px;
    background-color: #333;
    color: #FFF;
    font-family: 'Lato', Arial, serif;
    font-weight: normal;
    text-align: center;
}


/* Section & Paragraph */

section {
    margin-top: 8px;
}

p {
    margin: 16px auto;
    padding: 0 16px;
    width: 90%;
    text-align: left;
}


/* Image & Figure */

figure {
    margin-bottom: 32px;
}

figcaption {
    padding-top: 8px;
    text-align: right;
}

img {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}


/* Footer */

footer {
    padding: 16px;
    border-top: 32px solid #333;
}
